{% if request.in_contest and request.participation.contest.logo_override_image %}
    <img src="{{ request.participation.contest.logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% elif logo_override_image is defined and logo_override_image %}
    <img src="{{ logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% else %}
    <img src="{{ static('icons/logo.svg') }}?v=02ccfc65" alt="{{ SITE_NAME }}" width="268" height="44"
         style="border: none; object-fit: contain">
{% endif %}
