@font-face {
    font-family: "GitLab Sans";
    src: url("../../fonts/gitlab-sans/GitLabSans.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "GitLab Sans";
    src: url("../../fonts/gitlab-sans/GitLabSans-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("../../fonts/geist-mono/GeistMono.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("../../fonts/geist-mono/GeistMono-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --font-family-primary: "GitLab Sans", "Segoe UI", Arial, sans-serif;
    --font-family-monospace: "Geist Mono", Consolas, monospace;
}

body, button, input, select, textarea {
    font-family: var(--font-family-primary);
}

pre, code, kbd, samp, body .ace_editor, .django-ace-editor textarea {
    font-family: var(--font-family-monospace);
}

.select2-selection ul li {
    list-style-type: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    line-height: unset !important;
}

#content .content-description h1,
#content .content-description h2,
#content .content-description h3,
#content .content-description h4,
#content .content-description h5,
#content .content-description h6 {
    padding: 0;
}

#content .content-description h5 {
  letter-spacing: initial;
  text-transform: initial;
}

#content input.select2-search__field {
    border: none;
    box-shadow: none !important;
}

#content .content-description ul,
#content .content-description ol {
    margin: 0;
}

#content .content-description li {
    list-style-type: inherit;
}

.select2-container--dmoj {
    min-width: 20em;
}

@media (max-width: 780px) {
    #content .vLargeTextField {
        max-width: unset;
    }
}
